<div class="header">
  <div class="container">
  <img class="logo" src="http://s3.amazonaws.com/codecademy-content/projects/pocketbook/logo.svg"/>
  <hr></hr>
  </div>
</div>

<div class="main">
  <div class="container">
    <form role="form">
        <div class="form-group">
            <h1>Join Pocketbook</h1>
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" placeholder="First Name">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" placeholder="First Name">
            <label for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
            <label for="exampleInputPassword1">Password</label>
            <input type="text" class="form-control" placeholder="Enter Password">
        </div>
    </form>
        <div class="button">
            <button type="button" class="btn btn-default">Create Account
            </button>
        </div>
  </div>
</div>