html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: url(<% image_tag 'bg.jpg' %>) no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 940px;
  padding-top: 50px;
}

.logo {
 display: block;
 height: 80px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 15px;
}

hr { 
    display: block;
    border-style: inset;
    border-width: 1px;
    width: auto;
} 

label {
 color: #fff;
 padding-top: 10px;
}

.form-group {
 padding: 50 450 0 120px;   
}

h1 {
 color: #fff;
 font-size: 30px;
}

.btn {
 background-color: #245C4D;
 color: #fff;
 border: none;
 margin: 30px 120;
}

li {
 color: #fff;
 display: inline;
 padding-right: 20px;
}

ul {
 margin: 0;
 padding: 0;
}
